<div class="welcome">
</div>

<form [formGroup]="form_" >
  <div fxFlex="25%"></div>

  <div class="backGrLogin" fxFlex="50%" fxLayout="column" fxLayoutAlign="center strech">

    <mat-form-field fxFlex  >

        <mat-placeholder>Please enter your username</mat-placeholder>

      <input matInput formControlName="email"  type="email" >

     
     
      
      <mat-error *ngIf="form_.controls['email'].hasError('email') && !form_.controls['email'].hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form_.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
     
    </mat-form-field>

    <br>
    <br>
    <br>
   

    <div fxFlex>
      <button mat-raised-button color="accent" (click)="submitForm()" [disabled]="!form_.valid">Send Reset link</button>
      <button mat-raised-button (click)="resetForm()">Cancel</button>
    </div>
  </div>

</form>


<br>
<br>
<div fxLayout="row">
    <div fxFlex="25%"></div>

    <div fxLayout="column" fxFill>
        <button mat-button (click)="resetForm()"  fxFlex="50%" *ngIf="showMessage" > {{message_}}</button>
        <br>
    </div>

</div>
    
