.welcome{

    padding-top: 80px;

    /* color: beige; */
    
}

/* .backGr{

    padding-top: 20px;
    padding-bottom: 120px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#061551 ;
    opacity: 0.98;
    color: beige

} */


.warning{
    color: beige
    ;
}

// button{
//     color: white !important;
//     background-color:#061551;
// }

.backGrLogin{

    background-color: whitesmoke;
    padding: 20px;
    opacity: 0.65;
    border-radius: 5px;

    
}

mat-form-field{

    color: rgb(55, 59, 77);

    font-weight: 600;
    font-size: larger;
    

}
mat-placeholder{

    color: rgb(55, 59, 77);
}

mat-error{
    color: purple
}

input{
    width: 100%;
}

