button:hover,
button:active{

    color: #854DFF;
    // background-color: #854DFF;

}



mat-sidenav-container{

    height: 100%;
    

}



mat-sidenav{
    z-index: 5;
    width: 200px;
    border: thin;
}

mat-sidenav-content{

    position: relative;
    z-index: 5;

}


video{
   
    position: fixed;;
    height: 100%;
    z-index: 0;


}
mat-list{
    
    padding: 10px;
}

// ::ng-deep .dropDown{

//     background-color: cornflowerblue !important;
//     color:white !important
//   }

mat-toolbar{
    position: fixed;
    z-index: 9;
}