// button:hover,
// button:active{

//     color: #854DFF;

// }

mat-sidenav-container{
    height: 100%;
}

mat-sidenav{
    width: 200px;
    border: thin;
}

.tab_selected {
    color: #854DFF; 
    border-radius: 0 px !important;;  
}

 .mat-button {
  border-radius: 0 px !important;;     
} 

video{
    position: fixed;
    height: 100%;
    z-index: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
    transform: translateX(calc((100% - 100vw) / 2));


}

.background123{
    
   
        
    
       
    // background-repeat: no-repeat;
    // background-size: cover;
    // width: 100%;
    // z-index: 0;
    height: 100vh;
    background-image: url("./../../assets/better_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
   
   

}
mat-list{
    
    padding: 10px;
}

// ::ng-deep .dropDown{

//     background-color: cornflowerblue !important;
//     color:white !important
//   }

mat-toolbar{
    position: fixed;
    z-index: 3;
}

