<mat-sidenav-container class="example-container" (backdropClick)="sidenav.toggle()">
    <mat-sidenav #sidenav role="navigation"    mode="mode.value">

        <mat-nav-list>
            <mat-list>
                <h4> Menu</h4>

                <a mat-list-item [routerLink]="['/home']" (click)="sidenav.toggle()"> Admin Page </a>

                <a mat-list-item [routerLink]="['/qrgen']"  (click)="sidenav.toggle()"> QR Code Generator </a>

                <a mat-list-item [routerLink]="['/promotion']"  (click)="sidenav.toggle()"> Promotion </a>

                <a mat-menu-item [routerLink]="['/registration']" (click)="sidenav.toggle()"> Registrations</a>


            </mat-list>
        </mat-nav-list>

        <mat-nav-list>

            <mat-list class="body-1">
                <h4>Not Main</h4>
                <a mat-list-item [routerLink]="['/home']"  (click)="sidenav.toggle()"> To be added</a>
                <a mat-list-item [routerLink]="['/home']"  (click)="sidenav.toggle()">  To be added </a>
                <a mat-list-item [routerLink]="['/home']"  (click)="sidenav.toggle()">  To be added </a>
            </mat-list>
        </mat-nav-list>

        <mat-nav-list>

            <mat-list>
                <h4> 
                    <a  (click)="sidenav.toggle()"  >Close</a>


                </h4>
            
            </mat-list>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >

        <mat-toolbar color="primary">
            <button fxHide.gt-xs mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <button mat-menu-item fxFlex.xs="90%" fxFlex.gt-xs="10%" fxLayoutAlign="center space-around">

                <a routerLink='/home'>
                <img width="48" height="48" src="./../../assets/LogoBarPassCircle.png">
                </a>
                
            </button>

            <div fxFlex fxHide.xs>
                <button mat-button #menuButton [matMenuTriggerFor]="belowMenu" [ngClass]="this.selected == 1 ? 'tab_selected' : 'tab_unselected'" (click)="change(1)">Menu</button>

                <mat-menu #belowMenu="matMenu" yPosition="below" class="dropDown">
                    <button mat-menu-item [routerLink]="['/home']" routerLinkActive="active">Admin Page</button>
                    <button mat-menu-item [routerLink]="['/qrgen']" routerLinkActive="active"> QR Code Generator</button>
                    <button mat-menu-item [routerLink]="['/promotion']" routerLinkActive="active">Promotion</button>
                    <button mat-menu-item [routerLink]="['/registration']" routerLinkActive="active">Registrations</button>
                </mat-menu>

                <!-- <button mat-button #menuButton [matMenuTriggerFor]="belowMenu" [ngClass]="this.selected == 2 ? 'tab_selected' : 'tab_unselected'" (click)="change(2)">Second Menu</button> -->

                <!-- <mat-menu #belowMenu="matMenu" yPosition="below" class="dropDown">
                    <button mat-menu-item [routerLink]="['/home']" routerLinkActive="active">Admin Page</button>
                    <button mat-menu-item [routerLink]="['/qrgen']" routerLinkActive="active"> QR Code Generator</button>
                    <button mat-menu-item [routerLink]="['/promotion']" routerLinkActive="active">Promotion</button>
                    <button mat-menu-item routerLink='' routerLinkActive="active">Menu Builder</button>
                </mat-menu> -->
            </div>

            <div  fxFlex="50%" fxLayoutAlign="center center"> {{this.srv.restaurantName}}</div>


            <div fxFlex fxLayoutAlign="end end" class="avatar">

                <button color="white" class="intialsButton" *ngIf="this.srv.isAdmin" mat-mini-fab
                    [matMenuTriggerFor]="loggmenu">{{this.srv.initials}}</button>

                <mat-menu #loggmenu="matMenu" yPosition="below" class="dropDown">
                    <!-- <button mat-menu-item routerLink='/previewMenu' routerLinkActive="active">Role</button> -->
                    <button mat-menu-item (click)="this.srv.signOut()">SignOut</button>
                </mat-menu>

                <button mat-button *ngIf="!this.srv.isLogged" routerLink='/login'>
                    <mat-icon>login</mat-icon>
                </button>
            </div>
        </mat-toolbar>

        

               
            <div fxHide.lt-md > 
                  <video   autoplay muted type="video/mp4" loop >

                    <source src="./../../assets/bck_blue.mp4" >
        
                </video> 

        
                
                <router-outlet></router-outlet> 

            </div>
            
            <div  class="background123"> 
                

              <router-outlet></router-outlet> 

            </div>
      
           
            



       



    </mat-sidenav-content>
</mat-sidenav-container>