
.welcome{

    padding-top: 80px;
}

.table{
    
    z-index: 1;
    opacity: 0.65;
    
}

mat-datepicker{
    color: white 

}
input{
    color: white !important
}

mat-placeholder{
    color: white !important
}

mat-table {
    padding:10px;
   
    border-radius: 5px ;
    


}

button{
    z-index: 5;
}
.controls{
    margin-left: 20px;
}

mat-paginator{
    background-color: white !important ;
    

    border-radius: 5px ;

    z-index: 6;

}

mat-datepicker-toggle{
    color: white !important;
}

