
.welcome{

    padding-top: 80px;
}

.table{
    
    z-index: 1;
    opacity: 0.65;
    
}

mat-table {
    padding:10px;
   
    border-radius: 5px ;
    


}

button{
    z-index: 5;
}
.controls{
    margin-left: 20px;
}

